@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Inter',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color:var(--background-color);
    padding:0.1rem;
}
.header{
    display: flex;
    margin:0 auto;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    font-weight: 600;
    color: var(--text-color);
    font-weight: bold;
}
.logo img{
    margin-right: 0.8rem;
    height:5.875rem;
    width:1.938rem;
}
.nav{
    font-size: 1.2rem;
    display: none;
    gap: 1.5rem;
    font-weight: 600;
}
@media (min-width:780px){
    .nav{
        display: flex;
    }
}
.nav a{
    transform: color 1s;
    color: #718096;
    
}
.nav a:hover{
    color:var(--link-color)
}
#contact{
    display: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    margin-right: 3rem;
    font-size: 1rem;
    font-weight: 600;
    transform: background-color 2s;
}
@media (min-width:810px){
    #contact{
        display: inline-block;
    }
}
#contact a{
    color: var(--background-color);

}
#contact:hover{
    background-color: #5254f8;
}
.menu{
    
    border: none;
    display: inline-block;
    height: 1.5rem;
    width:1.5rem;
    background-color: var(--background-color);
}
.menu img{
    font-size: 1rem;
    /* padding: 0.5rem 1.1rem; */
    font-weight: 600;
    border-radius: 0.375rem;
}
@media(min-width:810px){
    .menu{
        display: none;
    }
}
.content{
    margin:0 auto;
    max-width:1300px;
    display: flex;
    gap:2rem;
    padding:0.6rem;
    flex-direction: column;

}
.content-left{
    animation:sideleft 1s ease forwards;
    opacity: 0;
}

.label{
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}
.title{
    font-size: 2.5rem;
    padding: 1.2rem;
    color: var(--text-color);
}
.description{
    color: var(--gray);
    font-size: 1.1rem;
}
.button-grp{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
.start-button,
.take-button{
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    transform: background-color 2s;
}
.take-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}
.take-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 0px 4px 8px rgba(0,0,0,0.1); */
    height: 55vh;
}
.section-image{
    border-radius:0.625rem;
    height: 100%;
    width: 45%;
    margin: 0 auto;
}

@media (min-width:768px){
    .content{
        flex-direction: row;
        gap:3.5rem;
    }
    .content-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:1.2rem;
        max-width:50%;
        text-align: left;
    }
    .title{
        padding: 0;
    }
    .button-grp{
        justify-content: flex-start;
    }
    .content-right{
        padding: 0;
        height:70vh;
    }
    .section-image{
        width: 100%;
    }
    .description{
        font-size:1rem;
        color: var(--gray);
        max-width: 80%;
    }
}
.company-container{
    margin-top: 2rem;
    display: flex;
    gap:1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation:sideleft 1s ease forwards;
    opacity: 0;
}
@keyframes sideleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.company-grid{
    display: grid;
    border-radius: 0.625rem;
    grid-template-columns: repeat(2,1fr);
    gap:1.2rem;
    background-color: var(--light-gray);
    padding: 1rem 2rem;
}
@media (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 1rem;
    }
}
.company-logo{
    color: var(--gray);
    font-size: 1rem;
    font-family: 500;
    display: flex;
    gap:0.5rem;
}
.svg-img{
    height: 1.2rem;
}
.logo-text{
    font-size: 1rem;
}